{
    "arrowParens": "avoid",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "semi": false,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "trailingComma": "es5",
    "singleAttributePerLine": true,
    "printWidth": 120,
    "tabWidth": 4
}
